{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <div class="form-group">
        <form action="/history" method="post">
            <div>
                <input class="btn btn-primary" type="submit" value = "Bought" name="bought"></input>
                <input class="btn btn-primary" type="submit" value = "Sold" name="sold"></input>
                <input class="btn btn-primary" type="submit" value = "All" name="all"></input>
            </div>
        </form>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-start">Symbol</th>
                <th class="text-end">Shares</th>
                <th class="text-end">Price</th>
                <th class="text-end">Date / Time</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in stocks %}
            <tr>
                <td>{{ stock.symbol }}</td>
                <td>{{ stock.shares }}</td>
                <td>{{ stock.price | usd }}</td>
                <td>{{ stock.created_at }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
